body { 
  padding-bottom: 30px;
  background: #ffffff;
}

    
.navbar {
  height: 15%;
}
    
.col-sm{
  margin: 15px;
  padding: 15px;
}
    
p.label {
  font-size: 12pt;
  margin-bottom:5px;
  margin-top:5px;
  font-weight:bold;
  font-style: italic;
}
    
div.inline{
  padding-bottom:7px;
}
    
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
      
.jumbotron{
  margin-top: 70px;
  padding-left: 5%;
}
    
.jumbop{
  text-align: center
}

.jumbotron{
  margin-top:70px;
}

.nav-tabs > li a { 
  background-color: #17a2b8;
  color:#fff;
}

.nav-tabs > li > a:hover{
background-color: #cdedf2 !important;
color:#000;
} 

.tab-pane {
border:solid 1px #cdd4d6;
border-top: 0; 
background-color:#fff;
padding:5px;
}

img {
  padding-top:5px;
  padding-bottom:10px;
}

table th {
  text-align: center;
}
    


    
    
    